#registerCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  align-items: stretch;
}

.signup-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-line > p {
  font-size: 2rem;
}
