html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  display: flex;
  flex-direction: column;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bold {
  font-weight: 700;
}

input {
  font-size: 1rem;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 700;
  font-size: 1rem;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 700;
  font-size: 1rem;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 700;
  font-size: 1rem;
}
input:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 700;
  font-size: 1rem;
}

.gray {
  color: #8e8e8e;
}

.round-button {
  background-color: #ffce54;
  color: #fff;
  border: none;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 1rem;
}
